.container {
    background-color: var(--background);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 74px;
}

.hamburger {
    font-size: 4rem;
    color: var(--standard);
    background-color: var(--background);
    margin-left: 1rem;
    cursor: pointer;
}

.brand {
    font-size: 3.5em;
    font-weight: normal;
    margin-right: auto;
    margin: 0.2em;
    color: var(--standard);
}

.organization {
    font-size: 1.8em;
    margin-left: 0.5em;
    margin-bottom: 0.1em;
    color: white;
}

.searchContent {
    margin-left: auto;
}

.filter {
    font-size: 2.5rem;
    color: #f9f9f9;
    margin-right: 1rem;
    cursor: pointer;
}
.filter:hover {
    color: grey;
}
/*---classes which is passed to the SearchsenderReceiver*/
.searchContainer {
    display: inline-block;
}

.search {
    font-size: inherit;
    width: 225px;
    padding: 0.5rem;
    border-radius: 0.3em;
    border: 0.05em solid grey;
    margin: 0.1em;
    color: grey;
    background-color: var(--standard);
    transition: width 0.5s;
}

.clearButton,
.confirmButton {
    cursor: pointer;
    font-size: inherit;
    width: auto;
    padding: 0.3em;
    padding-bottom: 0.32em;
    margin: 0.1em;
    border-radius: 0.5rem;
    border: 0.05em solid grey;
    color: grey;
    background-color: var(--standard);
}

.confirmButton:hover {
    color: #f9f9f9;
    border-color: #399639;
    background-color: #399639;
}

.clearButton:hover {
    color: white;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.fieldset {
    border: none;
    padding: 0px;
    font-size: 1.6rem;
}

.filter {
    font-size: 2.5rem;
    color: #f9f9f9;
    margin-right: 1rem;
    cursor: pointer;
}
.filter:hover {
    color: grey;
}
