@media only screen and (max-width: 3299px) {
    .tableContainer {
        background-color: #ebebeb;
        border-collapse: collapse;
        width: 71rem;
        margin-top: 2rem;
        height: 90%;
        overflow: auto;

        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        z-index: 0;
    }
}

@media only screen and (min-width: 3300px) {
    .tableContainer {
        background-color: #ebebeb;
        border-collapse: collapse;
        min-width: 95rem;
        margin-top: 2rem;
        height: 90%;
        overflow: auto;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        z-index: 0;
    }
}

.noScroll {
    overflow: hidden;
}

.titleContainer {
    display: flex;
    align-items: center;
    padding: 0.5em;
    background: var(--background);
    position: sticky;
    top: 0;
    z-index: 0;
}

.title {
    font-size: 2em;
    padding: 0.2rem;
    margin: 0;
    color: var(--standard);
    display: inline-block;
    font-weight: lighter;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.searchMoreRow {
    background-color: var(--background) !important;
    color: white;
}

.searchMoreRow td:hover {
    text-decoration-style: solid;
    text-decoration-line: underline;
}

.table tr td:first-child,
.table th:first-child {
    width: 276px;
}

.tableHeader th {
    top: 49px;
    font-size: 1.4em;
    padding-bottom: 4px;
    background: #c1e4f7;
    position: sticky;
    z-index: 0;
    white-space: nowrap;
}

.tableHeader th:hover {
    cursor: pointer;
    background: #ceebfa;
}

.table tbody th,
td {
    height: 20px;
    width: 50px;
    padding: 8px;
    border-right: 0.2rem solid var(--shades);
}

.loadingTbody th,
.loadingTbody td {
    padding: 8px 0;
    border-right: none;
}

.table tbody th:last-child,
.table tbody td:last-child {
    border-right: none;
}

.table tr:nth-child(even) {
    background-color: #eeeeee;
}

.table tr:nth-child(odd) {
    background-color: #ffffff;
}

.tableLoadingHeader {
    min-height: 52px;
}

.table tbody tr:hover td {
    background-color: var(--highlight);
    cursor: pointer;
}

.table tbody td {
    text-align: center;
    font-size: small;
}

.bold {
    font-weight: bold;
}

.greenStatus {
    background-color: rgba(197, 255, 197, 0.6);
}

.yellowStatus {
    background-color: rgba(255, 255, 197, 0.6);
}

.redStatus {
    background-color: rgba(255, 197, 197, 0.6);
}

.greyStatus {
    background-color: rgba(238, 238, 238, 0.6);
}
