@import url(https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans&display=swap);

html {
    font-size: 62.5%;
}

html,
body {
    font-family: GT America Medium, sans-serif;
    font-family: Noto Sans, GT America Medium, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--standard);
}

:root {
    --background: #0a6392;

    --secondary: #0e80bb;

    --standard: #f9f9f9;

    --shades: rgb(212, 212, 212);

    --highlight: #c1e4f7;
}

.root {
    height: inherit;
    background-color: var(--background);
}

#root {
    height: inherit;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #e2e0e0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #828283;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #626263;
}
